::-webkit-scrollbar {
    display: none;
}
::-webkit-scrollbar-button {
    display: none;
}
body {
    -ms-overflow-style:none;
    overflow-x: hidden;
}
.parallax{
    position: absolute;
    height: 100%;
}
.parallax-item{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;  
}
.p-item1{
    background: url("m_1.png") center/cover no-repeat;
}
.p-item3{
    background: url("m_3.png") bottom/100% no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 2;
}
.p-item4{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 10000%;
    content: "";
    background: url("fog_2.png");
    background-size: contain;
    background-position: center;
    animation: marquee 20s linear infinite;
}
@keyframes marquee {
    0%{
        transform: translate3d(0,0,0);
    }
    100%{
        transform: translate3d(-200vw,0,0);
    }
}
.container{
    position: relative;
    z-index: 1;
    max-width: 1140px;
    margin-top: 100vh;
}
.content-header{
    color: white;
    font-family: serif;
    text-align: center !important;
    text-transform: capitalize;
    margin-left: 200px;
    margin-right: -20%;
}
.content-header h1{
    font-size: 120px;
    font-weight: 600;
    color: white;
    margin-bottom: -40px;
}
.content-header h2{
    font-size: 40px;
    font-weight: 500;
    color: white;
}
.content{
    width: 200px;
    height: auto;
    margin-right: 40px;
}
.p-item4::before{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1000%;
    height: 100%;
    content: "";
    background: url("fog_2.png") repeat-x;
    background-size: contain;
    background-position: center;
    animation: marquee 20s linear infinite;
    z-index: 1;
}
.content1{
    width: 1930px;
    height: 2256px;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-main{
    position: fixed;
    right: 0px;
    bottom: 1px;
    z-index: 100;
}
.button{
  align-items: center;
  background-color: wheat;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 20px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button:hover:after {
  transform: translate(0, 0);
}
.button:active {
  background-color: #ffdeda;
  outline: 0;
}
.button:hover {
  outline: 0;
}